/*****************************************************************************
 * Copyright 2013-2016 Maxime Corteel                                        *
 *                                                                           *
 * This file is part of Homerun                                              *
 *                                                                           *
 * Homerun is free software: you can redistribute it and/or                  *
 * modify it under the terms of the GNU Affero General Public License as     *
 * published by the Free Software Foundation, either version 3 of the        *
 * License, or (at your option) any later version.                           *
 *                                                                           *
 * This program is distributed in the hope that it will be useful,           *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of            *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             *
 * GNU Affero General Public License for more details.                       *
 *                                                                           *
 * You should have received a copy of the GNU Affero General Public License  *
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.     *
 *****************************************************************************/

@font-face{
    font-family:Oxygen;
    src:url(/assets/fonts/Oxygen.ttf);
}

body {
    font-family: Oxygen;
}

.navbar img{
    height:1em;
    vertical-align:top;
}
.navbar .navbar-right{
    padding-right:15px;
}

.btn, .form-control, .input-group-addon, .tooltip>*, .progress, .alert, .datepicker.dropdown-menu, .datepicker table tr td span, .datepicker table tr td, .datepicker table tr th{
    border-radius:2px;
}

.modal-content{
    border-radius:2px;
}

.alert, .modal-header, .modal-body{
    padding:10px;
}

.fa-overlay-arrow-left:after {
    font-family: FontAwesome;
    font-size: 70%;
    content: "\f060";
    position: relative;
        left: -40%;
        top: 1px;
    color: #EEE;
    text-shadow: 0px 0px 1px #000;
}

#main-info{
    padding:3px 10px;
    overflow:hidden;
    text-align:center;
    margin:auto;
    position:fixed;
        left:50%;
        top:10px;
    transform:translateX(-50%);
        max-width:50%;
    display:none;
    z-index:1000;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.main-container{
    margin-top:60px;
    padding:0;
    width:100%;
}

h2{
    padding:0 5px;
    margin:0 0 10px;
    font-size:24px;
}

.main-container h3{
    font-size:20px;
    font-weight:bold;
    border-bottom:1px solid #DDD;
    padding:5px 0;
    margin:0 0 15px 0;
}

h3.title .btn, .well h3 .btn{
    position:relative;
        top:-4px;
}

.main-container h4{
    margin:5px 0;
    font-variant:small-caps;
    font-size:14px;
    font-weight:bold;
}

.header-menu{
    background-color:rgba(210, 210, 210, 0.95);
    border-bottom:1px solid #BBB;
    padding:5px 15px;
    min-height:45px;
    margin:0;
}

.tab-content {
    border-width:0px 1px 1px 1px;
    border-color:#DDD;
    border-style:solid;
    margin-top:0;
    background-color:#FFF;
}
.tab-content .row{
    margin: 0 -15px;
}
.tab-content .table{
    margin: 0;
}
.tab-content h3, .tab-content legend{
    padding: 0 10px;
    margin-top: 5px;
}
.tab-content .header-menu{
    margin:0 0 5px;
    z-index:1000000000000;
}
.main-container>.header-menu{
    margin:-10px -15px 0;
}
.tab-content .alert{
    margin:0 5px 10px;
    position: relative;
        top: 5px;
}
.header-menu.fixed{
    width:100%;
    left:0;
    margin-top:-9px;
    margin-left:0;
    margin-right:0;
    position:fixed;
    z-index:1000;
}

.header-menu h3, .header-menu .title{
    display:block;
    margin:5px -15px -5px;
    padding:5px 15px;
    font-size: 20px;
    text-align: center;
    border-top: 1px solid #555;
    border-bottom:none;
    font-weight:normal;
    background-color:#EEE;
}
.header-menu .title-pull{
    display: inline-block;
    font-size: 22px;
    padding-left: 5px;
}

.modal-body .alert{
    margin-bottom:0;
}
.modal-footer{
    margin-top:0;
}

.form-actions{
    padding:10px;
    margin-top:10px;
    background-color:#F5F5F5;
    min-height:55px;
}

#modal-debug{
    position:fixed;
        top:0;
        left:0;
    width:100%;
    height:100%;
    overflow:auto;
    display:none;
    z-index:10000;
    background-color:rgba(0,0,0,0.9);
    color:#FFF;
}
#modal-debug.active{
    display:block;
}

#modal-debug .close, #modal-debug .clear{
    font-size:28px;
    position:fixed;
        right:10px;
    color: #FFF;
    opacity: 0.8;
    cursor: pointer;
}
#modal-debug .close {
    top:10px;
}
#modal-debug .clear{
    bottom:10px;
}
#modal-debug .close:hover, #modal-debug .clear:hover{
    opacity: 1;
}
#modal-debug ul{
    padding:0;
    margin:0;
}
#modal-debug li{
    list-style-type:none;
    font-family:monospace;
}
#modal-debug li.error{
    color: #FF5526;
}
#modal-debug li.warning{
    color: #FFDA33;
}
#modal-debug li .caller{
    display:inline-block;
    vertical-align:top;
    white-space:nowrap;
    width:auto;
    color: #AAA;
    overflow:hidden;
}

#modal-icons .icons{
    padding:0;
    margin:0;
    text-align:center;
}
#modal-icons .icons li{
    display:inline-block;
    width:auto;
    margin:2px;
    list-style-type:none;
}

.header-menu .btn.menu{
    display:none;   
}

tr.selected {
    background-color: #EEE;
}

@media (max-width:767px){
  body.menu-contained .navbar-header{
    display:none!important;
  }
  body.menu-contained .main-container{
    margin-top:8px!important;
  }
  body.menu-contained .navbar-fixed-top{
    position:relative;
    margin-bottom:0;
  }
  body.menu-contained .navbar{
    min-height:0;
    height:auto;
  }
  .header-menu{
    padding:5px;
  }
  .header-menu .btn.menu{
    display:inline-block;
  }
}
@media (max-width:767px){
    .modal{
        padding:0;
    }

    .modal-dialog{
        margin:0;
    }
    
    #main-info{
        max-width:90%;
    }
    
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/**
 * Responsive drawer menu
 */

#drawer_toggle {
    display: none;
    width: 35px;
    text-align: center;
}
#drawer_toggle i {
    width: auto;
}

@media(max-width: 767px) {
    #drawer_toggle {
        display: inline-block;
    }
    body.display_drawer #drawer_toggle i:before{
        content: "\f0d9";
    }
    #drawer {
        position: fixed;
            top: 95px;
            left: 0;
        height: calc(100% - 95px);
        overflow-x: auto;
        width: 250px;
        padding: 0;
        z-index: 999;
        background-color: rgba(210, 210, 210, 0.95);
        transform:translateX(-250px);
        transition: transform 0.2s;
    }
    #drawer h4{
        padding: 0 15px;
    }
    #drawer li a{
        border-radius: 0;
    }
    body.display_drawer #drawer {
        transform:translateX(0);
        transition: transform 0.2s;
        box-shadow: 2px 0 4px #555;
    }
}

@media(max-width: 400px) {
    #drawer {
        top: 45px;
        height: calc(100% - 45px);
    }
}

/*********** DATEPICKER ************/

.date-control{
    height:0!important;
    display:block;
    overflow:hidden!important;
}

.date-container{
    overflow:hidden;
    transition:all 0.5s;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.date-container.active{
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.date-container.display{
    height:auto;
    transition:all 0.5s;
}

.date-container .datepicker{
    margin:auto;
}
